@use "./abstracts/colors";

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    overflow: hidden;
    // background: rgb(133, 127, 127);
    font-family: 'Ubuntu', sans-serif;
}

.h3__dagboek{
    font-weight: 500;
}