.nameField__wrapper {
    display: flex;
    width: 104rem;
    justify-content: flex-start;
  }
 
.nameField{
  background-color: rgba(25, 174, 170, 0.65);
  border: solid 0.1rem rgb(19, 133, 129);
  height: 2.7rem;
  width: 15rem;
  padding: 0.4rem;
  outline: none;
}

.title__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71.5%;
}
  