.nameField__wrapper {
    display: flex;
    width: 104rem;
    justify-content: flex-start;
  }
 
.nameField{
  background-color: rgba(25, 179, 173, 0.7);
  border: solid 0.1rem black;
  height: 2.7rem;
  width: 15rem;
  padding: 0.4rem;
  box-shadow: 0 8px 70px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
  outline: none;
}

.title__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71.5%;
}
  