.printButton{
    width: 11rem;
    height: 4rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background: rgba(25, 179, 173, 70%);
    border: none;
    font-family: 'Ubuntu', sans-serif; 
    color: rgb(54, 54, 54);

    &:hover{
        cursor: pointer;
        background: rgba(171, 238, 236, 0.7);
        border: solid 0.2rem rgba(25, 179, 173, 70%);
    }

}