table, th, td {
    border: 0.1rem solid black;
    border-collapse: collapse;
  }

.table{

    &__th{  
        height: 5rem;
        width: 30rem;
    }

    &__date{
        background: none;
        border: none;
        padding: 0.5rem;

    }

    &__td--date{
        width: 2rem;
        background: none;
        padding: 0.5rem;
    }
    
    &__td--text{
        height: 7.5rem;
        background: none;
    }

    &__textField{
        background: none;
        padding: 0.6rem;
        border: none;
        resize: vertical;
        width: 100%;
        height: 100%;
    }
}
